body {
    background-color: red;
    font-family: 'Cherry Bomb One', cursive;
    color: #FFDD00;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text-container {
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
}

.starburst {
    width: 800px;
    height: 800px;
    background-color: #FFDD00;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 
        79% 91%, 50% 70%, 21% 91%, 32% 57%, 
        2% 35%, 39% 35%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #003399;
    margin-top: 20px;
    position: relative; /* Parent container for positioning */
    z-index: 1;
}

.teeth {
    position: absolute; /* To position the teeth on top of the starburst */
    top: 54%; /* Adjust the position of the teeth */
    left: 50%; /* Center horizontally relative to the starburst */
    transform: translate(-50%, -70%); /* Fine-tune the position */
    display: flex;
    justify-content: center;
    z-index: 2; /* On top of the starburst */
}

.toothtooth2, .toothtooth3 {
    margin: 10px; /* Space between teeth images */
}

.teeth img {
    width: 75px;
    height: auto; /* Maintain aspect ratio */
}
.teeth img:hover {
    transform: scale(1.5);
}