body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(235, 234, 234); ; /* Background color */
  margin: 10;
}

.outline-text {
  font-family: 'Arial', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(218, 218, 218); /* White text */
  text-align: center;
  padding: 350px;
  background-color: #ff0000; /* Red background */
  border: 5px solid rgb(235, 234, 234); /* White border around */
  box-shadow: 0 0 0 5px rgb(240, 8, 8); /* Red outline after white border */
  height: 240px;
}
.outline-text img {
  max-width: 500px; /* Adjust image size */
  height: 430px;
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%); /* Start from the edge of the screen */
  }
  100% {
      transform: translateX(-100%); /* Move to the left off-screen */
  }
}

.bottom-box {
  background-color: blue; /* Bottom blue rectangle */
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: yellow;
  text-align: center;
  padding: 50px;
  width: 89%;
  height: 10px;
  position: absolute;
  bottom: 0;
  animation: scroll-left 10s linear infinite;

}
  .bottom-box {
    font-family: "Bungee", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

 